ul {
  padding-left: 20px;
  background-color: white;
  width: max-content;
  li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    position: relative;

    &::before {
      content: "\2022";
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

    button {
      background-color: transparent;
      border: 1px solid red;
      color: red;
      text-align: center;
      border-radius: 5px;
      height: 25px;
    }
  }
}
