:host {
  display: block;
  box-sizing: border-box;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
}

mat-toolbar {
  mat-chip-listbox {
    margin-left: auto;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #008148;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 10px;
  color: #e9ecec;
}