<mat-toolbar>
  <h1>Backend-Based Task Manager</h1>
  <div class="spacer"></div>
  <mat-chip-listbox>
    <mat-chip-option routerLink="/tasks" routerLinkActive="active" #rlat="routerLinkActive"
      [selected]="rlat.isActive">Tasks</mat-chip-option>
    <mat-chip-option routerLink="/archive" routerLinkActive="active" #rlatt="routerLinkActive"
      [selected]="rlatt.isActive">Archive</mat-chip-option>
  </mat-chip-listbox>
</mat-toolbar>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<footer>Filip Ślęzak</footer>